<a href="https://colab.research.google.com/github/A0143704/MNA-IA-Equipos51/blob/main/telco_moy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center> Base de datos de la rotación de clientes de telecomunicaciones </center>

Una compañía de telecomunicaciones ficticia que brindó servicios telefónicos residenciales y de Internet a 7043 clientes en California en el tercer trimestre.

Datos de Kaggle: https://www.kaggle.com/datasets/yeanzc/telco-customer-churn-ibm-dataset

In [ ]:
#Importación de librerías
import pandas as pd

In [ ]:
#Importación de archivo a DataFrame
path = "dataset/Telco_customer_churn.xlsx"
df = pd.read_excel(path)
df.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [ ]:
#Información de los datos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB

In [ ]:
#Determinamos las columnas que tenga el eje x e y
X, y  = df.iloc[: , :-1], df["Churn Value"]
print("Tamaño de los datos X: ", X.shape)
print("Tamaño de los datos y: ", y.shape)

Tamaño de los datos X:  (7043, 32)
Tamaño de los datos y:  (7043,)

In [ ]:
class1, class2 = y.value_counts()
print('Clase 1:\t{} - {:.2f}%'.format(class1, class1/(class1+class2)*100))
print('Clase 2:\t{} - {:.2f}%'.format(class2, (class2/(class1+class2)*100)))

Clase 1:	5174 - 73.46%
Clase 2:	1869 - 26.54%

In [ ]:
#Descipción de los datos
X.describe()

,customer_id,count,country,state,city,zip_code,lat_long,latitude,longitude,gender,...,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn_label,churn_value,churn_score,cltv
count,7044,7044,7044,7044,7044,7044,7044,7044.000000,7044.000000,7044,...,7044,7044,7044,7044,7044.00,7044,7044,7044,7044,7044
unique,7044,2,2,2,1130,1653,1653,1653.000000,1652.000000,3,...,4,4,3,5,1586.00,6532,3,3,86,3439
top,CustomerID,1,United States,California,Los Angeles,91344,"34.291273, -118.505104",34.291273,-121.994813,Male,...,No,Month-to-month,Yes,Electronic check,20.05,,No,0,80,5546
freq,1,7043,7043,7043,305,5,5,5.000000,8.000000,3555,...,2785,3875,4171,2365,61.00,11,5174,5174,151,8

In [ ]:
# Búsqueda de los datos nulos en los datos de entrada
X.isnull().sum()

customer_id          0
count                0
country              0
state                0
city                 0
zip_code             0
lat_long             0
latitude             0
longitude            0
gender               0
senior_citizen       0
partner              0
dependents           0
tenure_months        0
phone_service        0
multiple_lines       0
internet_service     0
online_security      0
online_backup        0
device_protection    0
tech_support         0
streaming_tv         0
streaming_movies     0
contract             0
paperless_billing    0
payment_method       0
monthly_charges      0
total_charges        0
churn_label          0
churn_value          0
churn_score          0
cltv                 0
dtype: int64

In [ ]:
#Búsqueda de los datos nulos en los datos de salida
print("'nulos' en los datos de salida:  ", y.isnull().sum())

'nulos' en los datos de salida:   5174

# Verificar que la Variable Objetivo si sea la ultima columna

### Ejercicio 3-a: Describe el problema y el objetivo que se busca.

--Llenar

### Ejercicio 3-b: ¿Es un problema desbalanceado? ¿Cómo se podría enfrentar?

--Llenar

### Ejercicio 3-c: ¿Qué implicaciones a que conllevan un FP o un FN?

--Llenar

### Ejercicio 3-d: Determinar el tipo de métrica de acuerdo con la Taxonomía de los autores.

--Llenar